@font-face {
    font-family: 'Octosquares';
    src: url('fonts/TT\ Octosquares\ Trial\ Condensed\ ExtraLight.ttf') format('truetype'); /* or 'truetype' if it's a .ttf */
    font-weight: normal;
    font-style: normal;
  }


body{
    background-color: #84E296;
    color: #333333;
    font-family: "Octosquares";
    font-size: 25px;
}

.frame{
    background-color: #333333;
    margin: 100px auto 0px;
    width: 340px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.display{
    display: flex;
    align-items: center;
    justify-content: end; 
    width: 285px;
    height: 75px;
    background-color: #7E8D85;
    border-radius: 5px;
    padding-right: 10px;
    font-family: "Octosquares";
    font-size: 25px;
}

.pad{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin: auto;
    width: 300px;
    gap: 8px;

}

button{
    background-color: #7E8D85;
    flex: 1 1 auto;
    aspect-ratio: 1/1;
    width: 60px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;  
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.6);
    color: #333333;
    transition: all 0.3s ease;
    font-family: "Octosquares";
    font-size: 20px;
    font-weight: 1500;
}

button:hover{
    transform:translateY(-3px);
    background-color: #84E296;
}

button:active{
    transform: translateY(1px);
    
}

#Enter{
    flex: 2 1 120px;
    border-radius: 40px;
    aspect-ratio: 2/1;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 5px;
    font-size: 15px;
}

.github-logo{
    flex: 0 0 10px;
    width: 20px;
    
}
